@charset "UTF-8";
/* 全ページで読み込むCSS */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Playfair+Display:wght@600&display=swap");
.header {
  display: block;
  overflow: hidden;
  border-top: solid 4px var(--main);
  padding: 20px 0;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .header {
    padding: 3.5vw 0;
  }
}
.header h1 {
  padding: 0.5rem 0;
  font-weight: 400;
  color: var(--main);
}
.header h1 a {
  color: inherit;
}
.header ul {
  display: none;
  list-style: none;
  margin: inherit;
  font-size: 1.1rem;
  max-width: 1400px;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 3%;
}
.header ul li {
  display: inline-block;
  padding: 0 15px;
}
.header ul li :global(a.active) {
  color: var(--main);
}
.header ul li a {
  color: var(--main);
  text-decoration: none;
}

.footer {
  margin: 40px 0 0;
  text-align: center;
  font-size: 0.75rem;
  padding: 12px 0;
}
.footer span {
  color: var(--c_fg);
}
.footer a {
  color: var(--c_main);
}

:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --bg: #fff8fb;
  --white: #fffdfd;
  --fg: #111;
  --fg_sub: #6c6266;
  --gray:#e9edf3;
  --red:#c33636;
  --main: #ff8dbe;
  --sub: #fff3f8;
  --link: #327ad3;
  --accents-1: #0070f3;
  --accents-2: #3291ff;
  --accents-3: #666;
  --geist-foreground: #000;
  --geist-success: #690;
  --radius: 4px;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-word;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: var(--white);
  color: var(--fg);
  font-family: "Lato", sans-serif, YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  /* Hack */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  padding: 0 5%;
}

.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure {
  margin: 0;
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8rem;
}

a {
  color: var(--accents-1);
  text-decoration: none;
}
@media screen and (min-width: 641px) {
  a:hover {
    color: var(--accents-2);
  }
}

mark {
  padding: var(--gap-quarter);
  border-radius: var(--radius);
  background: rgba(247, 212, 255, 0.8);
}

h1 {
  margin: 0;
  color: var(--fg);
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.6rem;
  }
}

h2 {
  margin: 0;
  color: var(--fg);
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.15rem;
  }
}
h2 > span.tag {
  border-radius: 4px;
  padding: 3px 9px;
  background: rgba(227, 226, 224, 0.5);
}

h3 {
  margin: 0;
  color: var(--fg);
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  h3 {
    font-size: 1.15rem;
  }
}

ol {
  color: #222;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

p,
ul {
  color: #222;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}

ul, ol {
  margin: 0;
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
}

pre {
  margin: 0;
  white-space: pre;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}
pre :global(code) {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0.3rem 0;
  background-color: #333;
}

code {
  font-size: 0.9rem;
  background: #f1f1f1;
  color: #eb5757;
  padding: 0.25rem;
  border-radius: var(--radius);
  font-family: var(--font-mono);
}

table {
  color: #222;
  border-collapse: collapse;
}
table tr {
  vertical-align: middle;
}
table th {
  font-weight: 600;
  background-color: #f4f4f4;
}
table td,
table th {
  font-size: 0.9rem;
  border: 1px solid #e4e4e4;
  padding: 0.5rem 1rem;
  line-height: 1.2rem;
}

/*-------------------------------------------- 
margin
--------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}
@media screen and (max-width: 640px) {
  .mt0 {
    margin-top: 0 !important;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 640px) {
  .mb0 {
    margin-bottom: 0 !important;
  }
}

.pt0 {
  padding-top: 0 !important;
}
@media screen and (max-width: 640px) {
  .pt0 {
    padding-top: 0 !important;
  }
}

.pb0 {
  padding-bottom: 0 !important;
}
@media screen and (max-width: 640px) {
  .pb0 {
    padding-bottom: 0 !important;
  }
}

.mt10 {
  margin-top: 10px !important;
}
@media screen and (max-width: 640px) {
  .mt10 {
    margin-top: 1vw !important;
  }
}

.mb10 {
  margin-bottom: 10px !important;
}
@media screen and (max-width: 640px) {
  .mb10 {
    margin-bottom: 1vw !important;
  }
}

.pt10 {
  padding-top: 10px !important;
}
@media screen and (max-width: 640px) {
  .pt10 {
    padding-top: 1vw !important;
  }
}

.pb10 {
  padding-bottom: 10px !important;
}
@media screen and (max-width: 640px) {
  .pb10 {
    padding-bottom: 1vw !important;
  }
}

.mt20 {
  margin-top: 20px !important;
}
@media screen and (max-width: 640px) {
  .mt20 {
    margin-top: 2vw !important;
  }
}

.mb20 {
  margin-bottom: 20px !important;
}
@media screen and (max-width: 640px) {
  .mb20 {
    margin-bottom: 2vw !important;
  }
}

.pt20 {
  padding-top: 20px !important;
}
@media screen and (max-width: 640px) {
  .pt20 {
    padding-top: 2vw !important;
  }
}

.pb20 {
  padding-bottom: 20px !important;
}
@media screen and (max-width: 640px) {
  .pb20 {
    padding-bottom: 2vw !important;
  }
}

.mt30 {
  margin-top: 30px !important;
}
@media screen and (max-width: 640px) {
  .mt30 {
    margin-top: 3vw !important;
  }
}

.mb30 {
  margin-bottom: 30px !important;
}
@media screen and (max-width: 640px) {
  .mb30 {
    margin-bottom: 3vw !important;
  }
}

.pt30 {
  padding-top: 30px !important;
}
@media screen and (max-width: 640px) {
  .pt30 {
    padding-top: 3vw !important;
  }
}

.pb30 {
  padding-bottom: 30px !important;
}
@media screen and (max-width: 640px) {
  .pb30 {
    padding-bottom: 3vw !important;
  }
}

.mt40 {
  margin-top: 40px !important;
}
@media screen and (max-width: 640px) {
  .mt40 {
    margin-top: 4vw !important;
  }
}

.mb40 {
  margin-bottom: 40px !important;
}
@media screen and (max-width: 640px) {
  .mb40 {
    margin-bottom: 4vw !important;
  }
}

.pt40 {
  padding-top: 40px !important;
}
@media screen and (max-width: 640px) {
  .pt40 {
    padding-top: 4vw !important;
  }
}

.pb40 {
  padding-bottom: 40px !important;
}
@media screen and (max-width: 640px) {
  .pb40 {
    padding-bottom: 4vw !important;
  }
}

.mt60 {
  margin-top: 60px !important;
}
@media screen and (max-width: 640px) {
  .mt60 {
    margin-top: 6vw !important;
  }
}

.mb60 {
  margin-bottom: 60px !important;
}
@media screen and (max-width: 640px) {
  .mb60 {
    margin-bottom: 6vw !important;
  }
}

.pt60 {
  padding-top: 60px !important;
}
@media screen and (max-width: 640px) {
  .pt60 {
    padding-top: 6vw !important;
  }
}

.pb60 {
  padding-bottom: 60px !important;
}
@media screen and (max-width: 640px) {
  .pb60 {
    padding-bottom: 6vw !important;
  }
}

.mt80 {
  margin-top: 80px !important;
}
@media screen and (max-width: 640px) {
  .mt80 {
    margin-top: 8vw !important;
  }
}

.mb80 {
  margin-bottom: 80px !important;
}
@media screen and (max-width: 640px) {
  .mb80 {
    margin-bottom: 8vw !important;
  }
}

.pt80 {
  padding-top: 80px !important;
}
@media screen and (max-width: 640px) {
  .pt80 {
    padding-top: 8vw !important;
  }
}

.pb80 {
  padding-bottom: 80px !important;
}
@media screen and (max-width: 640px) {
  .pb80 {
    padding-bottom: 8vw !important;
  }
}

.mt100 {
  margin-top: 100px !important;
}
@media screen and (max-width: 640px) {
  .mt100 {
    margin-top: 10vw !important;
  }
}

.mb100 {
  margin-bottom: 100px !important;
}
@media screen and (max-width: 640px) {
  .mb100 {
    margin-bottom: 10vw !important;
  }
}

.pt100 {
  padding-top: 100px !important;
}
@media screen and (max-width: 640px) {
  .pt100 {
    padding-top: 10vw !important;
  }
}

.pb100 {
  padding-bottom: 100px !important;
}
@media screen and (max-width: 640px) {
  .pb100 {
    padding-bottom: 10vw !important;
  }
}

/* 記事一覧 */
#newslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.postlist {
  position: relative;
  width: calc((100% - 40px) / 3);
  background: var(--sub);
  padding: 10px;
}
.postlist .post-tags {
  position: absolute;
  top: 10px;
  left: 10px;
}
.postlist .post-featured-image {
  width: 100%;
  padding: 0;
}
.postlist .post-title {
  color: var(--main);
}
.postlist .post-date {
  margin-top: 10px;
}